# This repo builds a Rubygem. No lock file then.
Gemfile.lock

# On some platforms (Windows), node-pty is used to execute the CLI.
# Don't commit node package files and modules.
node_modules
package.json
package-lock.json

# Yard is used to generate doc. Don't commit generated yard files.
.yardoc/
doc/
